<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Keys for LogTailMerge Configuration -->
    <!-- Listof Servers to Query sep by comma. A dot means localhost -->
    <!--   <add key="ListOfServers" value="WL2006228"/> -->
    <add key="ListOfServers" value="HERKULES,."/>
    <add key="CacheExpireInMin" value="10080"/>
    <!-- IF Either of these words are mentioned in Message or insertions strings then it will be shown -->
    <add key="FilterTermList" value="Fallout,TCM,MQ,SQL,jabberjowitch"/>
    <!-- Select statement with params @FromTime AND @ToTime -->
    <add key="SQLStatement1" value="SELECT  msdb.dbo.agent_datetime(h.run_date,h.run_time) as run_time,run_duration,run_status   
         ,h.server,s.name as jobname,  h.step_name,  h.message
        FROM  msdb..sysjobs as s
          join  msdb..sysjobhistory as h ON h.job_id = s.job_id
          where  msdb.dbo.agent_datetime(h.run_date,h.run_time)between @FromTime AND @ToTime
          Order by  h.run_date desc, h.run_time desc;"/>
    <!-- Headers for the SQLStatement1. They much match the sqlstatements number of columns
    -->
    <add key="SQLStatement1_Headers_List" value="Time,Duration,Status,Server,JobName,StepName,Message"/>
    <add key="Sql1ServToQuery" value="HERKULES"/> 
  </appSettings>
</configuration>