<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <!-- Keys for LogTailMerge Configuration -->
    <!-- Listof Servers to Query sep by comma. A dot means localhost -->
    <!--   <add key="ListOfServers" value="WL2006228"/> -->
    <add key="ListOfServers" value="HERKULES"/>
    <add key="CacheExpireInMin" value="10080"/>
    <!-- IF Either of these words are mentioned in Message or insertions strings then it will be shown value="Fallout,TCM,MQ,SQL,jabberjowitch" -->
    <add key="FilterTermList" value="Fallout"/>
    <!-- Select statement with params @FromTime AND @ToTime -->
    <add key="SQLStatement1" value="SELECT  msdb.dbo.agent_datetime(h.run_date,h.run_time) as run_time,run_duration,run_status   
         ,h.server,s.name as jobname,  h.step_name,  h.message
        FROM  msdb..sysjobs as s
          join  msdb..sysjobhistory as h ON h.job_id = s.job_id
          where  msdb.dbo.agent_datetime(h.run_date,h.run_time)between @FromTime AND @ToTime
          Order by  h.run_date desc, h.run_time desc;"/>
    <!-- Headers for the SQLStatement1. They much match the sqlstatements number of columns
    -->
    <add key="SQLStatement1_Headers_List" value="Time,Duration,Status,Server,JobName,StepName,Message"/>
    <add key="Sql1ServToQuery" value="HERKULES"/>
  </appSettings>
</configuration>

<!---->
<!--<system.webServer>-->
<!--  <handlers>-->
<!--    <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />-->
<!--    <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />-->
<!--    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />-->
<!--    <remove name="OPTIONSVerbHandler" />-->
<!--    <remove name="TRACEVerbHandler" />-->
<!--    <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />-->
<!--    <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />-->
<!--    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
<!--    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
<!--  </handlers>-->
<!--</system.webServer>-->
