<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../content/css/bootstrap.css" rel="stylesheet" />
    <link href="../../content/css/jquery.datatables.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LastLoggMerge</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapsed-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active"><a href="./eventlogfilter">Events</a></li>
                    <li class="active"><a href="./sqllogfilter">Sql</a></li>
                    <li class="active"><a href="./textlogfilter">Text</a></li>
                    <li class="active"><a href="./mergedlogfilter">Merged</a></li>                     
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div class="page-header">
            <div> <h1>@Model.Title Cached since @Model.LastRefreshedTime  </h1> </div>
        </div><!-- end page-header -->
    </header>

    <div class="container span6">
 
        <table id="EventLogTbl" class="table table-striped table-bordered">
            <thead><tr><td>Time</td><td>Log type</td><td>Source</td><td>Log Message</td><td>SearchTerm</td></tr></thead>
            <tbody>
                @Each.LogRows
                <tr><td>@Current.Time</td><td>@Current.LogType</td><td>@Current.Src</td><td>@Current.Msg</td><td>@Current.SearchT</td></tr>
                @EndEach
            </tbody>
        </table>
    </div>
    <script src="../../scripts/jquery-2.0.3.js"></script>
    <script src="../../content/js/bootstrap.js"></script>
    <script src="../../scripts/jquery.datatables.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#EventLogTbl').dataTable({
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
            });

            $.extend($.fn.dataTableExt.oStdClasses, {
                "sWrapper": "dataTables_wrapper form-inline"
            });
        });
    </script>
        </body>
</html>